@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoBg {
    @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px];
  }

  .chatRow {
    @apply rounded-lg px-5 py-3 text-sm flex 
    space-x-2 hover:bg-gray-700/70 cursor-pointer
    text-gray-300 transition-all duration-200 ease-out;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
